.experienceContainer {
  display: flex;
  gap: 32px;
}
.expText {
  max-width: 280px;
}

.experienceList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.addExp {
  display: flex;
  justify-content: space-between;
  p {
    color: #4d5761;
  }
}

.addButton {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 14px;
  gap: 4px;
  background: #0e1111;
  border: 1px solid #0e1111;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #383b3f;
  }
  &:active {
    background-color: rgb(69, 41, 69);
  }
}
