.settings {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navigation {
  border-bottom: 1px solid #e5e7eb;
}

.navList {
  display: flex;
  gap: 0.75rem;
  color: #6c737f;
  font-size: 14px;
  font-weight: 600;
  li {
    a {
      padding: 0 4px 12px 4px;
      display: inline-block;
      border-radius: 6px 6px 0 0;
      &:hover {
        background-color: #16604125;
      }
    }
  }
  li:nth-child(2) {
    color: #099250;
    border-bottom: 2px solid #099250;
  }
}
