.settings {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.navigation {
  border-bottom: 1px solid #e5e7eb;
}

.navList {
  display: flex;
  gap: 0.75rem;
  color: #6c737f;
  font-size: 14px;
  font-weight: 600;
  li {
    a {
      padding: 0 4px 12px 4px;
      display: inline-block;
      border-radius: 6px 6px 0 0;
      &:hover {
        background-color: #16604125;
      }
    }
  }
  li:nth-child(2) {
    color: #099250;
    border-bottom: 2px solid #099250;
  }
}

.addExp {
  display: flex;
  justify-content: space-between;
  p {
    color: #4d5761;
  }
}

.addButton {
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 14px;
  gap: 4px;
  background: #0e1111;
  border: 1px solid #0e1111;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    background-color: #383b3f;
  }
  &:active {
    background-color: rgb(69, 41, 69);
  }
}
